@model JML.SteelIce.Models.UserAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotifyMeAboutActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotifyMeAboutActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Established)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Established)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstablishedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstablishedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageEmployees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageEmployees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageProjects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageProjects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManageCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManageCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
